<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<header class="header" th:fragment="header">
		<a href="/" class="logo"><img src="/images/logo.png" width="120" height="80"></a>

		<nav class="navbar">
			<a href="/">Home</a>
			<a href="/categories">Categories</a>
			<a href="/reviews">Review</a>
			<a href="/aboutUs">About Us</a>
		</nav>

		<div class="icons">
			<div class="fas fa-bars" id="menu"></div>
			<div class="fas fa-search" id="search"></div>
			<div class="fas fa-shopping-cart" id="cart"></div>
			<div sec:authorize="isAnonymous()" class="fas fa-user" id="user"></div>
			<a href="/profile"><div sec:authorize="isAuthenticated()" class="fas fa-user" id="user1"></div></a>
			<a href="/billingAddress"><div sec:authorize="isAuthenticated()" class="fa fa-cog"></div></a>
		</div>

		<form th:action="@{/products/search}" th:method="GET" class="search-form">
			<input type="search" id="search-box" name="filter" placeholder="Search here..." />
			<label for="search-box" class="fas fa-search"></label>
		</form>

		<div class="shopping-cart">
			<div class="box" th:each="item : ${cartItems}" th:object="${item}">
				<a th:href="@{/delete/{id}(id=*{id})}" class="fas fa-trash"></a>
				<img th:src="*{image}" />
				<div class="content">
					<h3 th:text="*{productName}"></h3>
					<span class="price" th:text="*{amount}"></span><br />
					<span class="quantity" th:text="*{quantity}"></span>
				</div>
			</div>
			<div class="total">
				<h3 th:text="'Total: ' + ${total}"></h3>
			</div>
			<a href="/checkout" class="btn">Checkout</a>
		</div>

		<form sec:authorize="isAnonymous()" th:action="@{/auth/login}" th:method="POST" class="login">
			<h3>LogIn</h3>
			<input type="email" name="email" placeholder="Enter email..." class="box" />
			<input type="password" name="password" placeholder="Enter password..." class="box" />
			<p>Forgot your password? <a href="/auth/forgotPassword">Click Here</a></p>
			<p>Don't have an account<a href="/auth/register">Create Now</a></p>
			<input type="submit" value="Login Now" class="btn" />
			<p th:if="${isNotValid}" class="errors alert alert-danger">Please verify your email first!</p>
			<p th:if="${bad_credentials}" class="errors alert alert-danger">Invalid
				username or password.</p>
		</form>
		<div sec:authorize="isAuthenticated()" style="float: right;">
			<form th:method="POST" th:action="@{/logout}">
				<input class="btn" type="submit" value="Logout">
			</form>
		</div>
	</header>
</body>

</html>